[submodule "slides/reveal.js"]
	path = slides/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "beta/slides/reveal.js"]
	path = beta/slides/reveal.js
	url = https://github.com/hakimel/reveal.js.git
