# Mac-specific files
.DS_Store

# Tool-specific files
.ipynb_checkpoints/
__pycache__/

# ipypublish sources
ipypublish
ipypublish-master

# Zeller's files
Security Testing

# Chapter target files
code/*.py

html/*.html
html/*_files/

pdf/*.pdf
pdf/*_files/

slides/*.html
slides/*_files/

word/*.docx
word/*_files/

markdown/*.md

# App shortcut
jupyter.command