# Generic temporary files from pweave, LaTeX, tangle, etc.
_minted*
*.4ct
*.4tc
*.aux
*.dvi
*.idv
*.lg
*.log
*.out
*.tmp
*.xref
*[0-9]x.png
.*.lb

# Specific temporary files
gstbook.tex
include.tex

# Specific target files
gstbook.html
gstbook.css
gstbook.pdf
gstbook.py

# Chapter target files
??-*.html
??-*.pdf
??-*.py