# Mac-specific files
.DS_Store

# Tool-specific files
.ipynb_checkpoints/
__pycache__/

# ipypublish sources
ipypublish
ipypublish-master

# Chapter target files
code/*.py
code/*.py.out

html/*.html
html/*_files/

pdf/*.pdf
pdf/*_files/

slides/*.html
slides/*_files/

word/*.docx
word/*_files/

epub/*.epub
epub/*_files/

markdown/*.md
markdown/*_files/

full_notebooks/*.ipynb

.depend/*.ipynb_depend

# Logs
binder.log
*.py.out

# Zeller's files
Security Testing
papers
*.command
*.webloc