autopep8       # A tool that automatically formats Python code to conform to the PEP 8 style guide.
mypy           # Optional static typing for Python. 
notedown       # Convert markdown to IPython notebook.
nbdime         # Diff and merge of Jupyter Notebooks.
nbstripout     # Strips outputs from Jupyter and IPython notebooks.
