/* CSS stylesheet for fuzzingbook */

/* Fonts */
h1, h2, h3, h4, h5 {
	font-family: 'Patua One', Helvetica, Arial, sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
}

p, li {
	font-size: 15px;
	line-height: 25px;
}

code, kbd, pre, samp {
  font-family: 'Source Code Pro', monospace;
  line-height: 18px;
}

/* Colors */

h1 {
    color: #CB4335;
}

h2 {
    color: #B03A2E;
}

h3, h4, h5 {
    color: black;
}

a:link { /* unvisited link */
    color: #A93226;
    text-decoration: none;
}

a:visited {
    color: #A93226;
    text-decoration: none;
}

a:hover, a:focus {
    color: #F1948A;
    text-decoration: none;
}

a:active {
    color: red;
    text-decoration: none;
}

