/* CSS stylesheet for fuzzingbook */

/* Fonts and sizes */
h1, h2, h3, h4, h5 {
	font-family: 'Patua One', Helvetica, Arial, sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
}

code, kbd, pre, samp {
  font-family: 'Source Code Pro', monospace;
  line-height: 18px;
}

/* Font sizes */
h1 {
	font-size: 36px!important;
}

h2 {
	font-size: 28px!important;
}

p, li {
	font-size: 16px;
	line-height: 26px;
}



/* Colors */
/* We want white code boxes on a light grey background */
body {
    background-color: #F0F0F0;
}

.container {
    background-color: #F8F8F8!important;    
}

.input_area, .output_area {
    background-color: white!important;    
}

/* Regular outputs come in blue, errors in red */
.output_area pre {
    color: darkblue!important;
/*  font-weight: bold; */
}

.output_stderr pre {
    color: #B03A2E!important;
}

/* Headers are dark red, too */
h1, h2 {
    color: #B03A2E;
}

h3, h4, h5 {
    color: black;
}

/* And links also come in shades of red */
a:link { /* unvisited link */
    color: #A93226;
    text-decoration: none!important;
}

a:visited {
    color: #A93226;
    text-decoration: none!important;
}

a:hover, a:focus {
    color: #F1948A;
    text-decoration: none!important;
    font-weight: bolder!important;
}

a:active {
    color: red;
    text-decoration: none!important;
}
