# Debuggingbook Binder requirements

## Import the packages required to run the code

-r ../requirements.txt

## These packages are additionally required in Binder

svglib
selenium
valgrind

## These packages extend the Jupyter environment

jupyter_contrib_nbextensions
python-magic
