# Fuzzingbook Binder requirements

## These packages are additionally required in Binder

svglib
selenium
valgrind

## These packages extend the Jupyter environment

jupyter_contrib_nbextensions
python-magic
